.main-content {
  font-family: 'Noto Serif', serif;
  width: auto;
  display: flex;
  min-height: 100%;
}

#content {
  position: absolute;
  width: 100%;
  background: #9E3E47;
}

.header-name {
  padding-top: 10%;
}
