.main-content {
  font-family: 'Noto Serif', serif;
  width: 100%;
  height: 100%;
}

#content {
  position: fixed;
  padding-top: 7%;
  width: 100%;
  height: 100%;
  background-image: url(http://res.cloudinary.com/cassbaltz/image/upload/q_auto:good/v1467431850/ot-background.jpg)
}

.header-name {
  padding-top: 10%;
}
