.login-form {
  margin: 10% auto;
  width: 75%;
}

.form-fieldset {
  margin: 0 auto;
  padding: 5px;
  width: 75%;
  background: white;
}

.text-center {
  text-align: center;
  background: red;
  color: white;
}

div.form-header > h2 {
  float: left;
  margin-left: 10px;
  font-size: 50px;
}

div.form-header > h4 {
  float: right;
  margin-right: 10px;
  margin-left: 10px;
  border: 1px solid #ccc;
  padding: 10px;
  background: white;
}

div.form-header > h4:hover {
  cursor: pointer;
}

.form-input-div {
  margin: 0 auto;
  width: 100%;
}

.login-input {
  width: 80%;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 10px auto;
  text-align: center;
  background: white;
  display: block;
  font-size: 25px;
}

.form-header {
  width: 100%;
  display: inline-block;
}

.form-label {
  display: none;
}

div.button-wrapper {
  text-align: center;
}

button.form-submit {
  padding:10px;
  margin: 10px;
  background-color: white;
  border: 1px solid #ccc;
  text-decoration:none;
}

#one-star:hover {
  background: black;
  color: white
}

#two-star:hover {
  background: black;
  color: white
}

#three-star:hover {
  background: black;
  color: white
}

button.form-submit:hover {
  background-color: black;
  color: white;
  border: 1px solid #ccc;
  text-decoration:none;
}
