#map {
  width: 80vw;
  height: 80vh;
  margin: auto;
  position: relative;
  opacity: .9;
}

h3.map-overlay {
  margin: 0 auto;
  text-align: center;
  font-size: 2em;
  padding-top: 1%;
  padding-bottom: 1%;
  background: white;
  opacity: .9;
  width: 80vw;
}

h3.map-overlay:hover {
  cursor: pointer;
}


div.map-div {
  width: 75%;
  height: 75%;
}

div.gm-style {
  margin: auto;
}

div.map-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 7% auto 7%;
}
