div.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: black;
  color: white;
  position: fixed;
  height: 55px;
  top: 0;
  font-size: 20px;
  z-index: 10000000
}

h2.logo {
  order: 1;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Cinzel', serif;
  font-weight: 700;
}

h3.home-link {
  order: 0;
  color: white;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 10%;
  padding: 5px 10px;
  border-left: 5px solid transparent;
}

h3.home-link:hover {
  color: #ccc;
  cursor: pointer;
  cursor: hand;
  border-color: #ccc;
}

div.inner-profile-container > h3.personal-link:hover {
  color: #ccc;
  border-color: #ccc;
  cursor: pointer
}

div.inner-profile-container > h4.personal-link:hover {
  color: #ccc;
  border-color: #ccc;
  cursor: pointer
}

div.inner-profile-container {
  display: flex;
}

div.profile-container {
  order: 1;
  margin-right: 10%;
}

div.inner-profile-container > h3.personal-link {
  color: white;
  padding: 16px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 20px;
  padding: 5px 10px;
  border-left: 5px solid transparent
}

div.inner-profile-container > h4.personal-link {
  order: 1;
  color: white;
  padding: 16px;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 0;
  margin-left: 20px;
  padding: 5px 10px;
  border-left: 5px solid transparent
}

h3.clicked {
  border-color: #ccc;
  color: #ccc;
}

div.inner-profile-container > h3.clicked {
  border-color: #ccc;
  color: #ccc;
}
