div.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: black;
  color: white;
  position: fixed;
  top: 0;
  z-index: 10000000
}

h2.logo {
  order: 1;
  margin-top: 0
  margin-bottom: 0;
  font-family: 'Cinzel', serif;
  font-weight: 700;
  font-size: 1em;
}

h3.home-link {
  order: 0;
  color: white;
  padding: 1%;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
}

h3.home-link:hover {
  background: grey;
  color: red;
  cursor: pointer;
  cursor: hand;
}

h3.personal-link:hover {
  background: grey;
  color: red;
  cursor: pointer;
  cursor: hand;
}

h3.personal-link {
  order: 1;
  color: white;
  padding: 1%;
  margin-top: 0;
  margin-bottom: 0;
}

h3.clicked {
  background: white;
  color: black;
}
