div.restaurant-show {
  display: flex;
  flex-direction: row;
  background-size: 100%;
  background: no-repeat;
  margin: 1%;
  display: block;
  height: 40vw;
  background-size: cover;
}

/*background: url(http://res.cloudinary.com/cassbaltz/image/upload/q_auto:good/v1467431850/ot-background.jpg) no-repeat;
width: 100vw;
height: 100vh;
}*/

div.restaurant-box {
  width: 80%;
  background: white;
  margin: 7% auto 7% auto;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  opacity: 1;
  padding: 2%;
  justify-content: space-between;
  align-items: stretch;
}

div.michelin-review {
  padding: 1%;
}

div.michelin-review > h3 {
  font-size: 22px;
}

div.header-div {
  display: flex;
  justify-content: center;
  padding: 1%;
  margin: 1%;
  align-items: center;
  border: 1px solid #ccc
}

h1.restaurant-header {
  text-align: center;
  font-size: 3em;
  margin-left: 3%;
}

div.restaurant-text {
  order: 1;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  align-items: stretch;
  padding: 3%;
  width: 35%;
  opacity: .8;
}

div.restaurant-text > h3 {
  border-bottom: 1px solid #ccc;
  background: white;
  font-size: 24px;
  padding: 1%;
}

div.restaurant-picture {
  order: 2;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  overflow: hidden;
  padding: 1%;
  flex-shrink: 0;
  flex-flow: row nowrap;
  width: 64.5%;
  flex-wrap: wrap;
}

img.flex-image {
    min-width: 100%;
    height: auto;
    flex-shrink: 0;
    object-fit: fill;
}

div.button-links {
display: flex;
font-size: 30px;
padding: 1%;
justify-content: center;
align-items: flex-end;
background: black;
margin: 1%;
color: white;
}

div.button-links > div.rs {
  padding: 10px;
  margin-left: 3%;
  margin-right: 3%;
}
