.review-form {
  margin: auto;
  width: 100%;
  height: 100%;
  display: block;
  flex-direction: row;
  justify-content: space-around;
}

.form-fieldset {
  display: flex;
  flex-direction: column;
  width: 95%;
  background: transparent;
  border: 1px solid #ccc;
  padding: 20px;
}

.form-header {
  text-align: center
}

.form-text {
  display: flex;
  flex-direction: column;
}

div.form-header > h4:hover {
  background: black;
  color: white
}

div.form-h {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2%;
  vertical-align: bottom;
}

h3.close-button {
  float: right;
  padding: 1%;
  border: 1px solid black
}

h3.close-button:hover {
  cursor: pointer;
  background-color: black;
  color: white;
  border: 1px solid #ccc;
}

.form-h > h2 {
  font-size: 2em;
  padding: 2%;
}

.review-input.input {
  width: 75vw;
  height: 30vh;
  margin: 0 auto 3% auto;
}

textarea.review-input {
  width: 75%;
  height: 25vh;
  margin: auto;
  font-size: 24px;
  padding: 2%;
}

textarea.review-input:hover {
  border: 1px solid #ccc !important
}



.input-block > div {
  margin-top: 1%;
  font-size: 3em;
  padding-left: 1%;
  padding-right: 1%;
  border: 1px black solid;
}

.input-block > div:hover {
  cursor: pointer;
}

div.ReactModal__Content.ReactModal__Content--after-open {
  overflow: none !important;
  margin-top: 4% !important;
}

div.rating > h5{
  font-size: 2em;
  text-align: center;
  margin-bottom: 2%;
  margin-top: 2%;
}

.clicked {
  background: black;
  color: white;
}

div.input-block {
display: flex;
height: 20%;
justify-content: center;
align-items: center;
margin-bottom: 2%;
margin-top: 2%
}
